
<!-- BLACK SECTION-->
<div id="black">
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-4 col-lg-offset-4">
        <h3>BlackWebSocketControllerPartial </h3>
        <hr/>
      </div>
    </div>
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          Partial Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.
        </p>
      </div>
    </div>
  </div>
</div>