
<div class="page-header">
  <h1>Intro to CoffeeScript</h1>
</div>
<p class="lead">Coffeescript makes writing JavaScript much easier and more secure.</p>
<p>This will not be an exhaustive document covering CoffeeScript but mainly covering conventions you'll see used in Kickstrap. For complete documentation, visit <a href="http://coffeescript.org">the CoffeeScript homepage.</a> You'll also find a link for "Try CoffeeScript" where you can translate your CoffeeScript to JavaScript in real time.</p>
<h3>The importance of tabbing.</h3>
<p>CoffeeScript makes writing JavaScript much easier by removing characters like commas, semicolons, and curly braces in certain contexts. This is accomplished by instead indenting lines with either spaces or tabs. For example:</p>
<p>
  <pre>if a
  return b</pre>
</p>
<p>In JavaScript, this would return as</p>
<p>
  <pre>if(a) { return b; }</pre>
</p>
<p>This could also be written as</p>
<p>
  <pre>b if a</pre>
</p>
<p>Tabbing is especially important in functions. Here's what a function looks like in CoffeeScript</p>
<p>
  <pre>addNumbers = (a, b) -> a + b</pre>
</p>
<p>Here is that same code in JavaScript
  <pre>var addNumbers = function(a, b) { return a + b; }</pre>
</p>
<p>Because the function returned one line, we did not need to tab anything. However, with more than one line, we would need to tab in. For example,</p>
<p>
  <pre>calcNumbers = (a, b) ->
  c = a + b
  c/2</pre>
</p>
<p>...is the same as</p>
<p>
  <pre>var calcNumbers = function(a, b) { 
  var c = a + b; 
  return c/2;
}</pre>
</p>
<h3>More about functions</h3>
<p>Failure to tab appropriately can put a variable out of scope. This function:</p>
<p>
  <pre>sayHi = () ->
  alert 'hi'
  color = 'yellow'
alert color</pre>
</p>
<p>Would alert "hi" and "undefined" because <code>color</code> is assigned in <code>sayHi()</code> where the second alert can't reach it. This would be the correct way to write the above:
  <pre>sayHi = () ->
  alert 'hi'
color = 'yellow'
alert color	</pre>
</p>
<p>Sometimes your function's parameters will be empty</p>
<p>
  <pre>$('a').click(function() {
  return alert('you clicked');
});</pre>
</p>
<p>If so, we don't actually need the <code>()</code>. We can drop it and just use the arrow. Here's the coffeescript version:</p>
<p>
  <pre>$('a').click -> alert 'you clicked'</pre>
</p>
<p>Notice we also removed the parentheses from <code>alert</code>. By default, Coffeescript will encapsulate variables delineated by spaces. For example:</p>
<p>
  <pre>a b c</pre>
</p>
<p>...in JavaScript would be</p>
<p>
  <pre>a(b(c))</pre>
</p>
<p>We can't do this if we need to "work on" one of those encapsulations with a period. That's why we used <code>$('a')</code> and not <code>$ 'a'</code></p>
<h3>Comma-separated values</h3>
<p>In Kickstrap, you may see something like this from time to time:</p>
<p> 
  <pre>define ['jquery'], ($) -> $.fn.jquery</pre>
</p>
<p>Now you know the space implies an encapsulation (except for certain reserved characters like<code>return</code>), but what if we wanted to add more to the array?</p>
<p>
  <pre>define [
  'jquery'
  'angular'
], ($, angular) -> $.fn.jquery</pre>
</p>
<p>CoffeeScript knows the new lines imply comma-separated values. Ultimately, this yields the following:</p>
<p>
  <pre>define(['jquery', 'angular'], function($, angular) {
  return $.fn.jquery;
});</pre>
</p>
<h3>Use CoffeeScript in Jade</h3>
<p>Via roots, you can use CoffeeScript in jade using <code>:coffeescript</code>. For example: </p>
<p>
  <pre>:coffeescript
  alert 'hi!'</pre>
</p>
<p>...becomes</p>
<p>
  <pre>&lt;script type="text/javascript"&gt;alert('hi')&lt;/script&gt;</pre>
</p>