
<div class="page-header">
  <h1>First Steps</h1>
</div>
<div class="row">
  <div class="col-sm-8">
    <p>Kickstrap is a boilerplate of Bootstrap, JSPM, Angular.js and Roots that can copy itself into any directory you choose.</p>
    <p>
      If you're looking at this page from your local installation, you've successfully got Kickstrap up and running with the example pages. You should skip to Editing content.
       Otherwise, continue reading.
    </p>
  </div>
  <div class="col-sm-4">
    <div class="alert alert-info">
      <h4> <span class="glyphicon glyphicon-question-sign"></span> Need to ask a question?</h4>
      <p><a href="https://github.com/ajkochanowicz/Kickstrap/issues?state=open">Create an issue on the </a>Kickstrap GitHub page</p>
    </div>
  </div>
</div>
<h2>1. Install Kickstrap</h2>
<iframe width="480" height="360" src="//www.youtube.com/embed/paV8E6D6Bu4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<p>To install Kickstrap, you'll <a href="https://npmjs.org/">need Node Package Manager. </a>. If you already have this installed, run</p>
<p>
  <pre>sudo npm update -g</pre>
</p>
<p>Then...</p>
<p>
  <pre>sudo npm install -g kickstrap</pre>
</p>
<h2>2. Create a new Kickstrap site</h2>
<p>Navigate to the directory where you'd like to create a new Kickstrap site and run
  <pre>kickstrap new mysite</pre>
</p>
<p>This will create a new directory called "mysite" with the Kickstrap boilerplate. If instead you want to make the site in current directory, replace "mysite" with "."
  <pre>kickstrap new .</pre>
</p>
<p>When the files have finished transferring, Roots will automatically start a local server in that directory and reload when any changes are detected (Live Reload).</p>
<p>To stop this process, press ctrl + c.  To run the watcher again run either
  <pre>kickstrap watch</pre>
</p>
<p>or
  <pre>roots watch</pre>
</p>
<p>If something isn't right, file or search your issue at <a href="https://github.com/ajkochanowicz/Kickstrap">the Kickstrap GitHub page.</a><br/>If the issue is related to Roots compilation make sure you have <a href="https://github.com/jenius/roots#installation">satisfied the requirements here.</a></p>
<p> <a href="#/roots">Continue reading: Compiling in Roots</a> to learn how best to compile, watch, and prepare for a production website.</p>
<iframe width="480" height="360" src="//www.youtube.com/embed/utsuXNf91pg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<h2>3. Create your own Firebase account</h2>
<p>In its current form, your Kickstrap example pages are hooked up to a read-only Firebase. This will prevent you from doing anything truly useful in a production environment since users can't manipulate data.</p>
<p>Fortunately, Firebase offers free accounts under a certain usage tier. You can sign up for a Firebase account here: <a href="https://www.firebase.com/signup/">firebase.com/signup</a></p>
<p>Once you have your first Firebase, just open js/_settings.coffee...
  <pre># Firebase URI
# firebaseName: 'kickstrap-demo'</pre>
</p>
<p>Uncomment <code>firebaseName</code>, and replace it with your own url. This will be the name before ".firebaseio.com" For example, https://mysite.firebaseio.com would be
  <pre># Firebase URI
firebaseName: 'mysite'</pre>
</p>
<p>Now you have your own Firebase, but you'll notice all the data is empty. If you want to reinstall the sample data, I've included a .json file you can export into firebase. Look for <strong>kickstrap-demo-data.json </strong>in the root of your project. Import this into Firebase by visiting https://[yoursitename].firebaseio.com, clicking on the data tab, then clicking "Import JSON".</p>
<p>Please note, this will delete any data you have there.</p>
<iframe width="480" height="360" src="//www.youtube.com/embed/-4UGsKGKvKk" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<h2>4. Editing content</h2>
<p>tl;dr: The easiest way to make a page is to create a new .jade file in /views</p>
<p>Also see:</p>
<ul>
  <li> <a href="#/pages">Creating pages</a></li>
</ul>
<p>In Roots, your pages are generated with the files in views/. </p>
<p>layout.jade and blank.jade are base files. By default, files will extend (add themselves to) blank.jade. This is the case for partials and layout.jade, each of which we'll explain next.</p>
<p>The pages in the example app extend layout.jade, which provides the repetitive header and footer content you'll use application-wide. In the case of this page, partials are used inside index.jade via angular. This allows a single page to refresh with content for only a small part of the page. By loading only the partial, all the head content and JavaScript dependencies do not need to be set up again.</p>
<p>Kickstrap uses both Angular partials and Jade partials. Angular partials load in real time, on request in the browser. They can be found in views/partials/.</p>
<p>Jade partials are compiled once in the project and added to the final .html files. These are found in views/ and should start with an underscore. (e.g. "_footer.jade")</p>
<h3>Change theme and basic settings</h3>
<p>Import one of the included Bootstrap themes into main.css. These are found in /themes</p>
<p>To do this, open main.css and change the theme imported at the top</p>
<p>
  <pre>@import "../theme/[yourthemenamehere].css"</pre>
</p>
<h3>Editing the header</h3>
<p>The header that provides the navigation bar is a Jade partial. This is automatically added to any view with the code:
  <pre>include _header</pre>_header.jade can be found in views/.
</p>