
<div class="page-header">
  <h1>Creating Pages</h1>
</div>
<p>To create a page, make a new .jade file in views/. Better, use the provided newpage.jade, also in views/.</p>
<p>Pages that use the global layout.jade should have this at the top</p>
<p>
  <pre>extends layout
 
block content</pre>
</p>
<p>Obviously, the first line tells Jade this is extending layout.jade. </p>
<p>If you open layout.jade, you'll see there is a <code>block content</code> defined there as well.</p>
<p>
  <pre>extends layout
 
block content
  h1 hello world</pre>
</p>
<p>This above code is telling Jade it should put the indented code there when it extends layout. You can create other blocks in layout as well.</p>
<p>For partials, omit both the extends and block line completely. This will default to extending blank.jade. Because partials are used in pages already extended by layout, there's no need to write in the extra resources.</p>