
<div class="page-header">
  <h1>Compiling in Roots</h1>
</div>
<p>Kickstrap uses Roots to make the process of compiling Jade, CoffeeScript, and Stylus seamless as well as organizing partials and resources.</p>
<p>To compile your site while working on it, run <code>kickstrap watch</code>. This is exactly the same as running <code>roots watch</code>and is duplicated for ease-of-use with other kickstrap commands.</p>
<p>For production, run <code>kickstrap compile</code>. Again, this is the same as running <code>roots compile</code>.</p>