
<div class="page-header">
  <h1>Social Login</h1>
</div>
<p>The Kickstrap boilerplate is already ready to login users with Twitter, Facebook, and GitHub. However, once you move over to your own Firebase account, you'll need to set up your own key pairs for each account.</p>
<p><strong>Setup instructions for:</strong></p>
<ul>
  <li> <a href="https://www.firebase.com/docs/security/simple-login-facebook.html">Facebook</a></li>
  <li><a href="https://www.firebase.com/docs/security/simple-login-twitter.html">Twitter</a></li>
  <li><a href="https://www.firebase.com/docs/security/simple-login-github.html">GitHub</a></li>
</ul>
<p>Note, the code to include the simple login js library and some of the login features will not be relevant for you. These have already been set up.</p>
<p>However, to keep going with authentication, refer to the <a href="http://angularfire.com/documentation.html">AngularFire documentation.</a></p>