<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="The Elegant Frontend Framework">
    <meta name="author" content="Topi Matikainen">
    <script src="https://jspm.io/system@0.4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyjNpNBw_VnPm8cgrwzAvSI6Z_EARXY1E&amp;sensor=FALSE"></script>
    <script src="js/mapsApp.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>
       
      TM - Documentation
    </title>
  </head>
  <body>
    <div id="sf-wrap">
      <div ng-controller="LoginCtrl">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand kickstrap-logo">TM</a>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
              <!-- Stripped-down header. Help users to focus on their purchase.-->
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/newpage.html#disqus_thread">newSite</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group"><a id="install" href="docs.html#first-steps" class="btn btn-primary">Install </a></div>
              </form>
              <ul class="navbar-right nav navbar-nav">
                <li><a href="/cart.html"> <span class="glyphicon glyphicon-shopping-cart"> </span><span>&nbsp;</span><span class="badge">3</span></a></li>
                <li><a href="/messages.html"> <span class="glyphicon glyphicon-envelope"> </span><span>&nbsp;</span><span class="badge">10</span></a></li>
                <li><a href="#" data-target="#login" data-toggle="modal"> <span ng-hide="auth.user">Login </span><span ng-show="auth.user" class="ks-afterload"><img ng-src="{{auth.user.thumbnailImg}}" style="width: 20px;height: 20px;"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="login" tabindex="-1" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div ng-show="auth.user" class="col-sm-6">
                    <p><img ng-src="{{auth.user.thumbnailImg}}"></p>
                    <p class="lead">Logged in as {{auth.user.name}}</p>
                    <p><a href="#" ng-click="auth.$logout()" class="btn btn-default">Logout</a></p>
                  </div>
                  <div ng-hide="auth.user" class="col-sm-6">
                    <!-- Thanks http://nicolasgallagher.com/lab/css3-social-signin-buttons/-->
                    <p class="lead">Login using...</p>
                    <p><a href="#" ng-click="auth.$login('facebook')" class="btn-auth btn-facebook">Facebook</a></p>
                    <p><a href="#" ng-click="auth.$login('twitter')" class="btn-auth btn-twitter">Twitter</a></p>
                    <p><a href="#" ng-click="auth.$login('github')" class="btn-auth btn-github">GitHub</a></p>
                    <p>Support Kickstrap Development</p>
                    <p>
                      <script data-gittip-username="yourwebsitesUX" data-gittip-widget="button" src="//gttp.co/v1.js"></script>
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <div class="alert alert-info">
                      <h4>Example</h4>
                      <p>This screen simply demonstrates Firebase's native social login authorization.</p>
                    </div>
                    <p>When using your own Firebase account, don't forget to <a href="/docs.html#social-login">setup your app keys and secrets </a>for each social network</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <section ng-controller="DocsCtrl" class="row spacious">
          <div class="col-sm-5 col-md-3 ks-beforeload">
            <p>Loading...</p>
          </div>
          <div class="col-sm-5 col-md-3 ks-afterload">
            <!-- img(src="/img/kickstrap-logo.png", style="width: 248px")-->
            <h1 style="font-size: 50px" class="kickstrap-logo">TM</h1>
            <p class="lead">Documentation</p>
            <p>
              <input type="text" ng-model="sectionInput" placeholder="Search Sections" ng-change="setSelectedSection(filteredSections[0])" class="form-control">
            </p>
            <ul class="nav nav-pills nav-stacked">
              <li style="cursor: pointer" sly-repeat="section in (filteredSections = (sections | filter: sectionInput))" class="{{selectedSection.path == section.path ? 'active' : '' }}"> <a ng-click="setSelectedSection(section)">{{section.name}}</a></li>
            </ul>
          </div>
          <div ng-view ng-animate class="col-sm-7 col-md-9 readable"></div>
          <div ng-hide="selectedSection.name" class="col-sm-7 col-md-9">
            <p><em class="text-muted"><span class="hidden-xs">Select an article to read from the left.</span><span class="visible-xs">Select an article to read above.</span></em></p>
          </div>
          <div class="col-sm-7 col-md-9 col-lg-offset-3">
            <div id="ads" class="center-block"></div>
          </div>
        </section>
      </div>
      <div id="sf-push"></div>
    </div>
    <section id="sf-footer" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <!-- Copyright: Edit this in app.coffee--><a href="#">&copy; Topi Matikainen</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <!-- You're welcome to remove this logo, but we'd appreciate it if you'd link to us.-->
            <!-- The more involvement from the community, the better Kickstrap works for you.--><a href="http://getkickstrap.com">Powered by <span class="kickstrap-logo">Kickstrap</span></a>
          </li>
        </ul>
      </div>
    </section>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="js/kickstrap.js"></script>
  </body>
</html>