<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="The Elegant Frontend Framework">
    <meta name="author" content="Topi Matikainen">
    <script src="https://jspm.io/system@0.4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyjNpNBw_VnPm8cgrwzAvSI6Z_EARXY1E&amp;sensor=false"></script>
    <script src="js/mapsApp.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>
       
      TM
    </title>
  </head>
  <body>
    <div id="sf-wrap">
      <div ng-controller="LoginCtrl">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand kickstrap-logo">TM</a>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
              <!-- Stripped-down header. Help users to focus on their purchase.-->
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/newpage.html#disqus_thread">newSite</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group"><a id="install" href="docs.html#first-steps" class="btn btn-primary">Install </a></div>
              </form>
              <ul class="navbar-right nav navbar-nav">
                <li><a href="/cart.html"> <span class="glyphicon glyphicon-shopping-cart"> </span><span>&nbsp;</span><span class="badge">3</span></a></li>
                <li><a href="/messages.html"> <span class="glyphicon glyphicon-envelope"> </span><span>&nbsp;</span><span class="badge">10</span></a></li>
                <li><a href="#" data-target="#login" data-toggle="modal"> <span ng-hide="auth.user">Login </span><span ng-show="auth.user" class="ks-afterload"><img ng-src="{{auth.user.thumbnailImg}}" style="width: 20px;height: 20px;"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="login" tabindex="-1" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div ng-show="auth.user" class="col-sm-6">
                    <p><img ng-src="{{auth.user.thumbnailImg}}"></p>
                    <p class="lead">Logged in as {{auth.user.name}}</p>
                    <p><a href="#" ng-click="auth.$logout()" class="btn btn-default">Logout</a></p>
                  </div>
                  <div ng-hide="auth.user" class="col-sm-6">
                    <!-- Thanks http://nicolasgallagher.com/lab/css3-social-signin-buttons/-->
                    <p class="lead">Login using...</p>
                    <p><a href="#" ng-click="auth.$login('facebook')" class="btn-auth btn-facebook">Facebook</a></p>
                    <p><a href="#" ng-click="auth.$login('twitter')" class="btn-auth btn-twitter">Twitter</a></p>
                    <p><a href="#" ng-click="auth.$login('github')" class="btn-auth btn-github">GitHub</a></p>
                    <p>Support Kickstrap Development</p>
                    <p>
                      <script data-gittip-username="yourwebsitesUX" data-gittip-widget="button" src="//gttp.co/v1.js"></script>
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <div class="alert alert-info">
                      <h4>Example</h4>
                      <p>This screen simply demonstrates Firebase's native social login authorization.</p>
                    </div>
                    <p>When using your own Firebase account, don't forget to <a href="/docs.html#social-login">setup your app keys and secrets </a>for each social network</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <section ng-controller="HomeCtrl" ng-init="setSelectedSection(sections[0])" class="row">
          <link rel="stylesheet" ng-href="{{themePreviewUrl}}">
          <div class="col-lg-8 col-lg-offset-2">
            <video src="//getkickstrap.com/2.0-static/vid/kickstrap-demo.mp4" poster="img/poster.png" style="width: 100%;min-height:320px;max-height:60%" controls></video><br>
            <div class="row readable"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>Integrated with Angular.js</h1>
                </div>
              </div>
              <div class="col-sm-8">
                <p class="lead">Google's powerful front-end MVC turns your website into an webapp.</p>
                <p>Angular is baked together with Bootstrap and JSPM.io to create simple yet powerful UI-binding.</p>
              </div>
              <div class="col-sm-4"><img src="/img/angular.png" class="img-responsive"></div>
            </div>
            <div class="row readable"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>No Backend Needed</h1>
                </div>
              </div>
              <div class="col-sm-8">
                <p class="lead">Kickstrap uses Firebase, a Backend as a Service (BaaS)</p>
                <p>Kickstrap seamlessly combines Bootstrap with top-tier web technologies. It's so advanced, it can run an authenticated, database-driven web app <strong>without a native backend.</strong></p>
              </div>
              <div class="col-sm-4"><img src="/img/firebase.png" class="img-responsive center-block"></div>
            </div>
            <div class="row readable"><br>
              <div class="col-sm-4">
                <p class="lead">Try Firebase</p>
                <p>Each drawing syncs and is stored at a common real-time data point. Try it.</p>
              </div>
              <div class="col-sm-4">
                <p>
                  <iframe style="width:205px;height:190px;border:0px solid" src="http://firebase.com/how-it-works-drawing-demo.html" scrolling="no" class="center-block"></iframe>
                </p>
              </div>
              <div class="col-sm-4">
                <p>
                  <iframe style="width:205px;height:190px;border:0px solid" src="http://firebase.com/how-it-works-drawing-demo.html" scrolling="no" class="center-block"></iframe>
                </p>
              </div>
            </div>
            <div class="row"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>JavaScript Package Mangager (JSPM)</h1>
                  <p class="lead">Advanced package management for the browser</p>
                </div>
              </div>
            </div>
            <div class="row readable">
              <div class="col-sm-8">
                <p>Via JSPM, Kickstrap can run bundled resources (CSS, JS, text, images...) as dependency-managed packages. Even load directly from GitHub, CDNJS, or NPM.</p>
              </div>
              <div class="col-sm-4"><img src="/img/jspm.png" class="img-responsive"></div>
            </div>
            <div class="row readable"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>The Most Trusted Fork of Bootstrap</h1>
                </div>
              </div>
              <div class="col-sm-6">
                <p class="lead">Modern, Scalable, Production Ready.</p>
                <p>In this second version, we've reworked Kickstrap from the ground up, empowering it with the best in pre-processing technologies (Jade, CoffeeScript, Stylus), package-dependency management (JSPM.io), and a fast, front-end MVC (Angular.js).</p>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-6"><img src="./img/vegankit.png" class="img-responsive"></div>
                <div class="col-sm-6"><img src="./img/abergs.png" class="img-responsive"></div>
                <div class="col-sm-6"><img src="./img/ipreo.png" class="img-responsive"></div>
                <div class="col-sm-6"><img src="./img/peugeot.png" class="img-responsive"></div>
                <div class="col-sm-6"><img src="./img/skuvault.png" class="img-responsive"></div>
                <div class="col-sm-6"><img src="./img/fwdslash.png" class="img-responsive"></div><br>
                <p class="pull-right"><small>Trusted by these brands</small></p>
              </div>
            </div>
            <div class="row"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>Included Themes</h1>
                  <p class="lead">Activate themes on-the-fly</p>
                  <p>Click on a theme to preview.</p>
                </div>
              </div>
            </div>
            <div class="row ks-afterload">
              <div sly-repeat="theme in themes" class="col-sm-3">
                <h4 class="pointer">{{theme.title}}</h4><img ng-src="./themes/{{theme.name}}.png" ng-click="setTheme(theme.name)" class="thumbnail img-responsive pointer">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p><em>* Courtesy of Thomas Park and <a href="http://bootswatch.com/">Bootswatch.com</a></em></p>
              </div>
            </div>
            <div class="row"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>Your Website has an App Store</h1>
                </div>
              </div>
              <div id="pong-desc" class="col-md-6">
                <p class="lead readable">Keeping track of and staying up to date on your static resources (JS, CSS, fonts, images...) and their dependencies is painful.</p>
                <p class="readable">Kickstrap's partnership with JSPM.io provides a strong front-end package dependency manager built on Require.js.</p>
                <p class="readable">Kickstrap apps are unit JSPM bundles of static resources that can be run at any time in the web app's lifetime. </p>
                <p class="readable">JSPM also allows for loading resources from npm, CDNJS, and GitHub via its CDN registry.</p>
              </div>
              <div class="col-md-6">
                <div id="pong">
                  <div style="height: 300px" class="well"> 
                    <p><em>Waiting for JSPM package</em></p>
                  </div>
                </div>
                <p>Try it here:</p>
                <p>
                  <pre>jspm.import('ks:pong');</pre>
                </p>
                <p><a onclick="jspm.import('ks:pong')" class="btn btn-primary">Run Code</a></p>
              </div>
            </div>
            <div class="row"><br>
              <div class="col-xs-12">
                <div class="page-header">
                  <h1>Support Kickstrap</h1>
                </div>
              </div>
              <div class="col-md-2">
                <p>
                  <script data-gittip-username="yourwebsitesUX" src="//gttp.co/v1.js"></script>
                </p>
              </div>
              <div class="col-md-10 readable">
                <p>Kickstrap is a project of passion that takes a lot of time to develop, maintain, and offer support for.</p>
                <p>You can support this effort by pledging a small donation to via GitTip.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="row"><br>
          <div class="col-lg-8 col-lg-offset-2">
            <div class="col-sm-3 col-xs-6"><img src="./img/mashable.png" class="img-responsive"></div>
            <div class="col-sm-3 col-xs-6"><img src="./img/hn.png" class="img-responsive"></div>
            <div class="col-sm-3 col-xs-6"><img src="./img/dzone.png" class="img-responsive"></div>
            <div class="col-sm-3 col-xs-6"><img src="./img/t3n.png" class="img-responsive"></div>
            <div class="col-xs-12">
              <p class="text-center pull-right">As seen on these news websites</p>
            </div>
          </div>
        </section>
      </div>
      <div id="sf-push"></div>
    </div>
    <section id="sf-footer" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <!-- Copyright: Edit this in app.coffee--><a href="#">&copy; Topi Matikainen</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <!-- You're welcome to remove this logo, but we'd appreciate it if you'd link to us.-->
            <!-- The more involvement from the community, the better Kickstrap works for you.--><a href="http://getkickstrap.com">Powered by <span class="kickstrap-logo">Kickstrap</span></a>
          </li>
        </ul>
      </div>
    </section>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="js/kickstrap.js"></script>
  </body>
</html>