<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="The Elegant Frontend Framework">
    <meta name="author" content="Topi Matikainen">
    <script src="https://jspm.io/system@0.4.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
    <script src="/js/mapsApp.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>
       
      TM - New Page
    </title>
  </head>
  <body>
    <div id="sf-wrap">
      <!-- HEADER WRAP-->
      <div id="headerwrap">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2 mt">
              <h1 class="animation slideDown">Imagine a world in which there is no time. Only images.
                <!--Behind the image and to the heart, we carry the stories of our lives.
                -->
              </h1>
              <p class="mt">
                <button type="button" class="btn btn-cta btn-lg">DIVE IN</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- BLOG POSTS-->
      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-4 col-lg-offset-4">
            <h3>Events in present moment</h3>
            <hr>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-4 col-md-4 col-xs-12 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/dog.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Post 1 </h4>
                <p class="b-from-right b-animate b-delay03">Read More.</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>Sky is the limit</p>
            <p class="lead">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.
            </p>
            <hr-d>
              <p class="time"><i class="fa fa-comment-o"></i>3 |<i class="fa fa-calendar"></i>14 Nov.</p>
            </hr-d>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/guinea.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Post 2 </h4>
                <p class="b-from-right b-animate b-delay03">Read More.</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>Another Cool Stuff</p>
            <p class="lead">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.
            </p>
            <hr-d>
              <p class="time"><i class="fa fa-comment-o"></i>3 |<i class="fa fa-calendar"></i>14 Nov.</p>
            </hr-d>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/house.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Post 3 </h4>
                <p class="b-from-right b-animate b-delay03">Read More.</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>This Is Awesome</p>
            <p class="lead">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.
            </p>
            <hr-d>
              <p class="time"><i class="fa fa-comment-o"></i>3 |<i class="fa fa-calendar"></i>14 Nov.</p>
            </hr-d>
          </div>
        </div>
      </div>
      <!-- CALL TO ACTION CTA 1-->
      <div id="cta01">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>
                What sense is there in continuing when one has seen the future?
                But if we never search, the chance of success is zero.
              </h2>
              <button type="button" class="btn btn-cta btn-lg">LET GO</button>
            </div>
          </div>
        </div>
      </div>
      <!-- PORTFOLIO SECTION-->
      <div class="container">
        <div class="row mt centered">
          <div class="col-lg-4 col-lg-offset-4">
            <h3>My works</h3>
            <hr>
          </div>
        </div>
        <div class="row mt centered">
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port01Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Wireless E-TTL controller</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Phottix Odin TCU
               <i class="fa fa-play-circle"> </i>
            </p>
          </div>
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port02Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Portable audio recorder</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Tascam DR-100 MKII 
               <i class="fa fa-play"> </i>
            </p>
          </div>
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port03Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Shotgun mic for video</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Audio Technica AT875R
               <i class="fa fa-microphone"> </i>
            </p>
          </div>
        </div>
        <div class="row mt centered">
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port04Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Variable ND filter</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Fader ND
               <i class="fa fa-filter"></i>
            </p>
          </div>
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port05Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">Wind muffs for audio devices</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Micover
               <i class="fa fa-microphone"></i>
            </p>
          </div>
          <div class="col-lg-4 desc"><a href="#" class="b-link-fade b-animate-go"><img width="350" src="img/portfolio/port06Oma.jpg" alt="">
              <div class="b-wrapper">
                <h4 style="margin-top: 83px" class="b-from-left b-animate b-delay03">E-TTL flash guns</h4>
                <p class="b-from-right b-animate b-delay03">View Details</p>
              </div>
              <div class="b-top-line"></div></a>
            <p>
              Nissin DI 866 mkII
               <i class="fa fa-flash"></i>
            </p>
          </div>
        </div>
        <div class="row mt centered">
          <div class="col-lg-4 col-lg-offset-4">
            <button type="button" class="btn btn-theme btn-lg">VIEW MY PORTFOLIO</button>
          </div>
        </div>
      </div>
      <!-- BRANDS AND CLIENTS-->
      <div id="grey">
        <div class="container">
          <div class="row mt centered">
            <div class="col-lg-4 col-lg-offset-4">
              <h3>Clients</h3>
              <hr>
            </div>
          </div>
          <div class="row centered">
            <div class="col-lg-3 pt"><img src="img/clients/karpalo.png" alt="" class="img-responsive"></div>
            <div class="col-lg-3 pt"><img src="img/clients/client02.png" alt="" class="img-responsive"></div>
            <div class="col-lg-3 pt"><img src="img/clients/client03.png" alt="" class="img-responsive"></div>
            <div class="col-lg-3 pt"><img src="img/clients/client04.png" alt="" class="img-responsive"></div>
          </div>
        </div>
      </div>
      <!-- FEATURED ICONS-->
      <div id="white">
        <div class="container">
          <div class="row mt">
            <div class="col-lg-4 col-lg-offset-4 centered">
              <h3>Different Stages</h3>
              <hr>
            </div>
          </div>
          <div class="row mt">
            <div class="col-lg-3">
              <p class="capitalize">1</p>
              <h4>Brief</h4>
              <p>
                Built for all levels of expertise, whether you need simple pages or complex
                ones, creating something incredible with Marco is an effortless and
                intuitive process.
              </p>
            </div>
            <div class="col-lg-3">
              <p class="capitalize">2</p>
              <h4>Analysis</h4>
              <p>
                We've taken great care to ensure that Marco is fully retina-ready. So
                it'll look good on any retina display. We use retina.js to ensure the
                best view.
              </p>
            </div>
            <div class="col-lg-3">
              <p class="capitalize">3</p>
              <h4>Planning</h4>
              <p>
                Marco fits any device handsomely. We tested our theme in major devices and
                browsers. Check it out and test it before buy it on responsinator.com.
              </p>
            </div>
            <div class="col-lg-3">
              <p class="capitalize">4</p>
              <h4>Execution</h4>
              <p>
                Good looking animations are an essential part of the new theme design
                trend. We add animations.css, a cool script to help you enhance your site
                with style.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- CALL TO ACTION 2 CTA-->
      <div id="cta02">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>
                Our products & services are crafted with the utmost care to fulfill your
                needs.
              </h2>
              <button type="button" class="btn btn-cta btn-lg">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt">
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-flask"></i>
            <h4>Built with Bootstrap 3</h4>
            <p>
              Built for all levels of expertise, whether you need simple pages or complex
              ones, creating something incredible with Marco is an effortless and intuitive
              process.
            </p>
          </div>
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-eye"></i>
            <h4>Retina Display Theme</h4>
            <p>
              We've taken great care to ensure that Marco is fully retina-ready. So
              it'll look good on any retina display. We use retina.js to ensure the
              best view.
            </p>
          </div>
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-mobile"></i>
            <h4>Responsive Design Always</h4>
            <p>
              Marco fits any device handsomely. We tested our theme in major devices and
              browsers. Check it out and test it before buy it on responsinator.com.
            </p>
          </div>
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-cog"></i>
            <h4>Really Nice Animations</h4>
            <p>
              Good looking animations are an essential part of the new theme design trend.
              We add animations.css, a cool script to help you enhance your site with
              style.
            </p>
          </div>
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-flag"></i>
            <h4>Font Awesome Included</h4>
            <p>
              Font Awesome is the most used icon font on Bootstrap. Gives you scalable
              vector icons that can instantly be customized with the power of CSS.
            </p>
          </div>
          <div class="col-lg-4 centered si slideUp"><i class="fa fa-heart"></i>
            <h4>Carefully Crafted</h4>
            <p>
              We aim to design both, functional & beautiful themes. Details are an
              important part of our main concept. We work hard to keep our code and
              front-end flawless.
            </p>
          </div>
        </div>
      </div>
      <!-- OUR TEAM-->
      <div id="white">
        <div class="container">
          <div class="row mt">
            <div class="col-lg-4 col-lg-offset-4 centered">
              <h3>Who</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 centered members">
              <!--<img src="img/team/gianni.png" alt="">
              <div class="team-info">
                <div class="subhead">Developer</div>
                <h2 class="team-name">Gianni</h2>
                <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
              </div>
              -->
            </div>
            <div class="col-lg-4 centered members"><img src="img/team/topi.jpg" alt="">
              <div class="team-info">
                <div class="subhead">Groupie</div>
                <h2 class="team-name">Tobsteri</h2>
                <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
              </div>
            </div>
            <div class="col-lg-4 centered members">
              <!--<img src="img/team/william.png" alt="">
              <div class="team-info">
                <div class="subhead">Designer</div>
                <h2 class="team-name">William</h2>
                <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!-- BLACK SECTION-->
      <div id="black">
        <div class="container">
          <div class="row mt centered">
            <div class="col-lg-4 col-lg-offset-4">
              <h3>What I Do</h3>
              <hr>
            </div>
          </div>
          <div class="row mt">
            <div class="col-lg-8 col-lg-offset-2">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- TESTIMONIAL CAROUSEL-->
      <div class="container">
        <div class="row mt">
          <div class="col-lg-4 col-lg-offset-4 centered">
            <h3>Honest Testimonials</h3>
            <hr>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <h2>
                    One of God's own prototypes. A high-powered mutant of some kind never even considered for mass production. 
                    Too weird to live, and too rare to die.
                  </h2>
                  <h5>Raoul Duke</h5>
                </div>
                <div class="item">
                  <h2>He would have made a good Pope</h2>
                  <h5>Me</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CONTACT SECTION-->
      <div id="white">
        <div class="container">
          <div class="row mt">
            <div class="col-lg-4 col-lg-offset-4 centered">
              <h3>Take care and contact</h3>
              <hr>
            </div>
          </div>
        </div>
        <div id="map"></div>
      </div>
      <!-- CALL TO ACTION CTA BAR-->
      <div id="cta-bar">
        <div class="container">
          <div class="row centered">
            <h4><a href="#">Are You Ready For The Next Step?</a></h4>
          </div>
        </div>
      </div>
      <!-- FOOTER-->
      <div id="f">
        <div class="container">
          <div class="row">
            <!-- ADDRESS-->
            <div class="col-lg-3">
              <h4>Location</h4>
              <p>Sompiontie 1 a 1<br>96100 Rovaniemi<br>Suomi / Finland<br></p>
              <p>+358 45 6749 280<br>topi@topimatikainen.net</p>
            </div>
            <!-- TWEETS-->
            <div class="col-lg-3">
              <h4>Recent Tweets</h4>
              <div id="showtweets">
                <p>Follow me<b>@topim</b></p>
              </div>
            </div>
            <!-- LATEST POSTS-->
            <div class="col-lg-3">
              <h4>Latest Posts</h4>
              <p>A post with an image<br>Other post with a video<br>A full width post<br>We talk about something nice<br>Yet another single post<br></p>
            </div>
            <!-- NEW PROJECT-->
            <div class="col-lg-3">
              <h4>Current Projects</h4><a href="#"><img src="img/portfolio/port03.jpg" alt="" class="img-responsive"></a>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="LoginCtrl">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand kickstrap-logo">TM</a>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
              <!-- Stripped-down header. Help users to focus on their purchase.-->
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/newpage.html#disqus_thread">newSite</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group"><a id="install" href="docs.html#first-steps" class="btn btn-primary">Install </a></div>
              </form>
              <ul class="navbar-right nav navbar-nav">
                <li><a href="/cart.html"> <span class="glyphicon glyphicon-shopping-cart"> </span><span>&nbsp;</span><span class="badge">3</span></a></li>
                <li><a href="/messages.html"> <span class="glyphicon glyphicon-envelope"> </span><span>&nbsp;</span><span class="badge">10</span></a></li>
                <li><a href="#" data-target="#login" data-toggle="modal"> <span ng-hide="auth.user">Login </span><span ng-show="auth.user" class="ks-afterload"><img ng-src="{{auth.user.thumbnailImg}}" style="width: 20px;height: 20px;"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="login" tabindex="-1" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4 class="modal-title">Login</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div ng-show="auth.user" class="col-sm-6">
                    <p><img ng-src="{{auth.user.thumbnailImg}}"></p>
                    <p class="lead">Logged in as {{auth.user.name}}</p>
                    <p><a href="#" ng-click="auth.$logout()" class="btn btn-default">Logout</a></p>
                  </div>
                  <div ng-hide="auth.user" class="col-sm-6">
                    <!-- Thanks http://nicolasgallagher.com/lab/css3-social-signin-buttons/-->
                    <p class="lead">Login using...</p>
                    <p><a href="#" ng-click="auth.$login('facebook')" class="btn-auth btn-facebook">Facebook</a></p>
                    <p><a href="#" ng-click="auth.$login('twitter')" class="btn-auth btn-twitter">Twitter</a></p>
                    <p><a href="#" ng-click="auth.$login('github')" class="btn-auth btn-github">GitHub</a></p>
                    <p>Support Kickstrap Development</p>
                    <p>
                      <script data-gittip-username="yourwebsitesUX" data-gittip-widget="button" src="//gttp.co/v1.js"></script>
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <div class="alert alert-info">
                      <h4>Example</h4>
                      <p>This screen simply demonstrates Firebase's native social login authorization.</p>
                    </div>
                    <p>When using your own Firebase account, don't forget to <a href="/docs.html#social-login">setup your app keys and secrets </a>for each social network</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>New Page</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-info">
              <h4>Example page</h4>
              <p>This page exists to demonstrate the barebones code of a new page in Kickstrap.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="disqus" class="col-md-8 col-md-offset-2"></div>
        </div>
      </div>
      <div id="sf-push"></div>
    </div>
    <section id="sf-footer" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <!-- Copyright: Edit this in app.coffee--><a href="#">&copy; Topi Matikainen</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <!-- You're welcome to remove this logo, but we'd appreciate it if you'd link to us.-->
            <!-- The more involvement from the community, the better Kickstrap works for you.--><a href="http://getkickstrap.com">Powered by <span class="kickstrap-logo">Kickstrap</span></a>
          </li>
        </ul>
      </div>
    </section>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="js/kickstrap.js"></script><script type="text/javascript">
(function() {
  k$.ready(function() {
    return jspm["import"]('ks:disqus');
  });

}).call(this);
</script>
  </body>
</html>